@model MVCTitle45MCA.ViewModels.Title45ViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div>
        <p>
            @Model.SelectedContent
        </p>    
    </div>
</div>
